# Force git to treat jar files and other assets as binary to prevent line ending corruption
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.mp3 binary
*.wav binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
